.connect {
  position: fixed;
  top: 5%;
  left: 5%;
}



.btn {
  background-color: var(--tw-color1);
  outline: none;
  border: none;
  color: var(--white);
  height: 48px;
  padding: 0 24px;
  border-radius: 999px;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 300ms ease-in-out;
  transform-origin: center;
}

.btn:hover {
  background-color: var(--tw-color1-hover);
}

.btn:active {
  transform: scale(0.95);
}

.address {
  font-size: 1.5rem;
  margin-bottom: 16px;
}

.container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
}

.container1 { /* NFT MINT PAGE */
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  position: absolute;
  padding: 0 24px;
  margin-left: 20%;
  border-radius: 50px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  transition: 0.5s;
}



.container2 {
  width: 256px;
  display: flex;
  flex-direction: row ;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


.container2 .box2 {
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}


.container2 .box2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}


.container2 .box2::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
  transition: 0.5s;
}

.container2 .box2:hover:before,
.container2 .box2:hover:after
{
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
}

.container2 .box2:nth-child(1):before,
.container2 .box2:nth-child(1):after 
{
  background: linear-gradient(315deg, #ffbc00, #ff0058);
}

.container2 .box2 .spn2 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  pointer-events: none;
}

.container2 .box .spn2::before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}


.container2 .box:hover .spn2::before
{
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.container2 .box .spn2::after
{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  animation-delay: -1s;
}


.container2 .box:hover .spn2::after
{
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}


@keyframes animate
{
  0%,100%
  {
    transform: translateY(10px);
  }
  50%
  {
    transform: translateY(-10px);
  }
}

.box2 .nftBoxInfo {
  opacity: 0;
  transform: translateX(60px);
  transition: 0.5s;
}

.box2:hover .nftBoxInfo
{
  opacity: 1;
  transform: translateX(0px);

}

.container2 .box2 .nftBox
{
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(0,0,0,0.05);
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  border-radius: 8px;
  backdrop-filter: blur(10px);
  z-index: 1;
  transition: 0.5s;
}

.container2 .box2:hover .nftBox
{
  left: -25px;
  padding: 60px 40px;
}


.container3 {
  width: 256px;
  display: flex;
  flex-direction: row ;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.page {
  width: inherit;
  border-radius: 20px;
  border: 1px solid var(--tw-color1);
  padding: 16px;
}

.pageContainer {
  max-width: 600px;
  width: 90vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: row;
  gap: 2%;
  padding: 1rem;
}

.arrowButton {
  border-radius: 50%;
  width: 30px;
}

.owner {
  font-size: 1rem;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header {
  background-color: #262936;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 72px;
  margin-bottom: 96px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.left {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 5%;
}

.right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-right: 5%;
}

.secondaryButton {
  cursor: pointer;
  text-align: center;
  padding: 5px;
  color: #fff;
  font-weight: 600;
}

.mainButton {
  cursor: pointer;
  display: inline-flex;
  appearance: none;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  white-space: nowrap;
  vertical-align: middle;
  outline: 2px solid transparent;
  outline-offset: 2px;
  line-height: 1.2;
  font-weight: 600;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 200ms;
  height: 3rem;
  min-width: 3rem;
  font-size: 1rem;
  background: #e5e5ea;
  background-image: linear-gradient(to left, #cc25b3 0%, #418dff 101.52%);
  color: #fff;
  width: 180px;
  text-align: center;
  border-radius: 9999px;
  border-style: none;
}

.mainButton:hover {
  opacity: 0.8;
}

.up {
  align-items: center;
  margin-bottom: 10px;
  display: flex;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  width: 95%;
  margin-top: 10px;
  min-height: 200px;
}

.tokenLabel {
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.box {
  width: 300px;
  height: 300px;
  margin-bottom: 15px;
  position: relative;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.box img {
  position: relative;
  z-index: 2;
  width: 280px;
  height: 280px;
  border-radius: 10px;
}

.box::before{
  content: '';
  position: absolute;
  width: 500px;
  height: 500px;
  background-image: conic-gradient(transparent, transparent, transparent, #d400d4);
  animation: animate 4s linear infinite;
  animation-delay: -2s;
}

.box::after{
  content: '';
  position: absolute;
  width: 500px;
  height: 500px;
  background-image: conic-gradient(transparent, transparent, transparent, #00ccff);
  animation: animate 4s linear infinite;
}

@keyframes animate
{
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}

.box span {
  position: absolute;
  inset: 5px;
  border-radius: 16px;
  background: #0c1022;
  z-index: 1;
}


.mainButton0 {
cursor: default;
width: 80px;
height: 35px;
text-align: center;
align-items: center;
font-family: Arial ;
margin-top: 5px;
font-size: 15px;
}

.mainButton0::-webkit-inner-spin-button,
.mainButton0::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.mainButton1{
  background-color: #D6517D;
  border-radius: 50px;
  box-shadow: 0px 2px 2px 1px #0F0F0F;
  color: white;
  cursor: pointer;
  font-family: inherit;
  padding: 10px;
  margin-top: 10px;
}

.mainButton2{
  background-color: #D6517D;
  border-radius: 50px;
  box-shadow: 0px 2px 2px 1px #0F0F0F;
  color: white;
  cursor: pointer;
  font-family: inherit;
  padding: 10px;
  margin-top: 10px;
}

.ourCollection {
  font-size: 1.5rem;
  margin-bottom: 16px;
}

.collectionContainer {
  width: 1200px;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}

.h1 {
  margin-bottom: 0px;
}

.explain {
  font-size: 1.125rem;
  max-width: 1200px;
}

.purple {
  color: #9f2c9d;
}

.divider {
  width: 50%;
  border-color: grey;
  opacity: 0.25;
}

.smallDivider {
  width: 25%;
  border-color: grey;
  margin-top: 64px;
  opacity: 0.25;
}

.textInput {
  width: 75%;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 8px;
  color: #fff;
  height: 48px;
  padding: 0 16px;
  font-size: 1rem;
  margin-bottom: 16px;
}

.imageInput {
  width: 100%;
  height: 100px;
  border: 1px dashed grey;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
  cursor: pointer;
}

.contractBoxGrid {
  width: 1200px;
  max-width: 95vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1%;
  flex-wrap: wrap;
}

.contractBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  cursor: pointer;
  width: 19%;
  height: 200px;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 16px;
  padding-top: 25px;
}

/* Between 700px and 900px */
@media screen and (min-width: 700px) and (max-width: 900px) {
  .contractBoxGrid {
    gap: 2%;
  }

  .contractBox {
    width: 48%;
  }
}

@media screen and (max-width: 699px) {
  .contractBoxGrid {
    gap: 2%;
  }

  .contractBox {
    width: 98%;
  }
}

.nftBoxGrid {
  position: relative;
  width: 1080px;
  height: 400px;
  max-width: 92vw;
  display: flex;
  flex-direction: row-reverse ;
  align-items: center;
  justify-content: center;
  gap: 4%;
  margin: 40px 30px;
  transition: 0.5s;
  margin-top: 0px;
  flex-wrap: wrap;
}

/*
.nftBox {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  width: 100%;
  min-height: 200px;
  z-index: 1;
}
*/


.optionSelectBox {
  border-radius: 16px;
  border: 1px solid #ccc;
  width: 48%;
  min-height: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.optionSelectBox:hover{
transform: translateY(-5px) ;
box-shadow:0 10px 40px rgba(0,0,0,0.2) ;
background: linear-gradient(45deg,#b95ce4,#4f29cd) ;
}

.selectBoxTitle {
  font-size: 1.75rem;
  margin-top: 8px;
  margin-bottom: 8px;
}

.selectBoxDescription {
  color: rgba(255, 255, 255, 0.9);
  margin-top: 0px;
}

/* Between 1200 and 800 */
@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .nftBox {
    width: 49%;
    margin-top: 16px;
  }
}

/* beneath 800
*/
@media only screen and (max-width: 800px) {
  .nftBoxGrid {
    justify-content: center;
  }
  .nftBox {
    width: 90%;
    margin-top: 16px;
  }
  .optionSelectBox {
    width: 90%;
    margin-top: 16px;
  }
}

.tokenGrid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1%;
  width: 1600px;
  max-width: 95vw;
  flex-wrap: wrap;
  margin-top: 16px;
}

.tokenItem {
  width: 35%;
  height: 120px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.4);
  gap: 16px;
}

.tokenItem:hover {
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 60px #2196f3;
  transition-delay: 1s;
}

.tokenLabel {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
}

/* Second tokenLabel item */

.tokenValue {
  font-size: 1.3rem;
  margin-top: 8px;
  margin-bottom: 0px;
  font-weight: 500;
}

/* On Mobile, make tokenGrid 100% width */
@media only screen and (max-width: 850px) {
  .tokenItem {
    width: 90%;
    margin-top: 12px;
  }
}

/* Screen less than 630, then hide .center */
@media only screen and (max-width: 630px) {
  /*.center {
    display: none;
  }*/
}

.spacerTop {
  margin-top: 16px;
}

.bigSpacerTop {
  margin-top: 32px;
}

.spacerBottom {
  margin-bottom: 16px;
}

.cardName {
  margin-bottom: 0px;
}

.cardDescription {
  color: rgba(255, 255, 255, 0.7);
}

.headerLogo {
  width: 135px;
  cursor: pointer;
}

.verticalSpacer {
  color: grey;
  margin-left: 8px;
  margin-right: 8px;
}

.codeSnippet {
  text-align: start;
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  width: 900px;
  max-width: 95vw;
  background-color: #282c34;
  overflow-x: auto;
  font-size: 1rem;
}

.noUnderline {
  text-decoration: none;
}

.detailPageContainer {
  max-width: 800px;
}

.detailPageHr {
  margin-top: 0px;
  margin-bottom: 32px;
}

.lightPurple {
  color: #e011a7;
}

.nftMedia {
  width: 100%;
  max-height: 300px;
  border-radius: 15px;

}

.amountToClaim {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 32px;
}

.noGapBottom {
  margin-bottom: 0px;
}
